.analytics {
	padding-bottom: 20rem;
	@media only screen and (max-width: $tab-port) {
		padding-bottom: 8rem;
	}

	&__content {
		padding: 3rem 0;
		margin-bottom: 3rem;
	}
	&__grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
		grid-gap: 4rem;
	}
}
