.what-you-will-learn {
	padding-top: 30rem;
	padding-bottom: 10rem;
	background: $color-bg-primary;
	// transform: translateY(-15rem);
	margin-top: -15rem;
	.learn__container {
		max-width: 117rem;
	}
}
